<%- # the license inside this block applies to this file
# Copyright 2017 Google Inc.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
-%>
<%= lines(autogen_notice :go) -%>

package google

<%= lines(compile(object.custom_code.constants)) if object.custom_code.constants -%>

<%
    resource_name = product_ns + object.name
    properties = object.all_user_properties
    update_body_properties = object.settable_properties
    update_body_properties = object.settable_properties.reject(&:input) if object.update_verb == :PATCH
    # Handwritten TF Operation objects will be shaped like accessContextManager while the Google Go Client will have a name like accesscontextmanager
    client_name_camel = String.new(if @config.client_name then @config.client_name else product_ns end)
    client_name_camel[0] = client_name_camel[0].downcase
    client_name_pascal = String.new(client_name_camel)
    client_name_pascal[0] = client_name_pascal[0].upcase
    client_name_lower = client_name_camel.downcase
    has_project = object.base_url.include?('{{project}}')
    has_region = object.base_url.include?('{{region}}') && object.parameters.any?{ |p| p.name == 'region' && p.ignore_read }
    timeouts = object.async.nil? ? Api::Timeouts.new : object.timeouts
-%>

func resource<%= resource_name -%>() *schema.Resource {
    return &schema.Resource{
        Create: resource<%= resource_name -%>Create,
        Read: resource<%= resource_name -%>Read,
<%      if updatable?(object, properties) -%>
        Update: resource<%= resource_name -%>Update,
<%      end -%>
        Delete: resource<%= resource_name -%>Delete,
<%      if object.settable_properties.any? {|p| p.unordered_list} && !object.custom_code.resource_definition -%>
        CustomizeDiff: customdiff.All(
<%=
            object.settable_properties.select { |p| p.unordered_list }
                               .map { |p| "resource#{resource_name}#{p.name.camelize(:upper)}SetStyleDiff"}
                               .join(",\n")
-%>
        ),
<%      end -%>

<%      unless object.exclude_import -%>
        Importer: &schema.ResourceImporter{
            State: resource<%= resource_name -%>Import,
        },
<%      end -%>

        Timeouts: &schema.ResourceTimeout {
            Create: schema.DefaultTimeout(<%= timeouts.insert_minutes  -%> * time.Minute),
<%      if updatable?(object, properties) -%>
            Update: schema.DefaultTimeout(<%= timeouts.update_minutes -%> * time.Minute),
<%      end -%>
            Delete: schema.DefaultTimeout(<%= timeouts.delete_minutes -%> * time.Minute),
        },

<%      if object.schema_version -%>
        SchemaVersion: <%= object.schema_version -%>,
        StateUpgraders: []schema.StateUpgrader{
<%        for v in 0..object.schema_version-1 -%>
            {
                Type: resource<%= "#{resource_name}ResourceV#{v}" -%>().CoreConfigSchema().ImpliedType(),
                Upgrade: resource<%= "#{resource_name}UpgradeV#{v}" -%>,
                Version: <%= v -%>,
            },
        },
<%        end -%>
<%      end -%>

<%=     lines(compile(object.custom_code.resource_definition)) if object.custom_code.resource_definition -%>

        Schema: map[string]*schema.Schema{
<%      order_properties(properties).each do |prop| -%>
<%=       lines(build_schema_property(prop, object)) -%>
<%      end -%>
<%-     unless object.virtual_fields.empty? -%>
<%-       object.virtual_fields.each do |field| -%>
            "<%= field.name -%>": {
              Type:     schema.TypeBool,
              Optional: true,
              Default:  false,
            },
<%        end -%>
<%      end -%>
<%=     lines(compile(object.custom_code.extra_schema_entry)) if object.custom_code.extra_schema_entry -%>
<%      if has_project -%>
            "project": {
                Type:     schema.TypeString,
                Optional: true,
                Computed: true,
                ForceNew: true,
            },
<%      end -%>
<%      if object.has_self_link -%>
            "self_link": {
                Type:     schema.TypeString,
                Computed: true,
            },
<%      end -%>
        },
    }
}

<% properties.each do |prop| -%>
<%= lines(build_subresource_schema(prop, object), 1) -%>
<% end -%>

<% object.settable_properties.select {|p| p.unordered_list}.each do |prop| -%>
func resource<%= resource_name -%><%= prop.name.camelize(:upper) -%>SetStyleDiff(diff *schema.ResourceDiff, meta interface{}) error {
<%=
    compile_template('templates/terraform/unordered_list_customize_diff.erb',
                     prop: prop,
                     resource_name: resource_name)
-%>
}
<% end -%>

func resource<%= resource_name -%>Create(d *schema.ResourceData, meta interface{}) error {
    config := meta.(*Config)

    obj := make(map[string]interface{})
<%  object.settable_properties.each do |prop| -%>
    <% schemaPrefix = prop.flatten_object ? "nil" : "d.Get( \"#{prop.name.underscore}\" )" -%>
    <%= prop.api_name -%>Prop, err := expand<%= resource_name -%><%= titlelize_property(prop) -%>(<%= schemaPrefix -%>, d, config)
    if err != nil {
        return err
<%    if prop.send_empty_value -%>
    } else if v, ok := d.GetOkExists("<%= prop.name.underscore -%>"); ok || !reflect.DeepEqual(v, <%= prop.api_name -%>Prop) {
<%    elsif prop.flatten_object -%>
    } else if !isEmptyValue(reflect.ValueOf(<%= prop.api_name -%>Prop)) {
<%    else -%>
    } else if v, ok := d.GetOkExists("<%= prop.name.underscore -%>"); !isEmptyValue(reflect.ValueOf(<%= prop.api_name -%>Prop)) && (ok || !reflect.DeepEqual(v, <%= prop.api_name -%>Prop)) {
<%    end -%>
        obj["<%= prop.api_name -%>"] = <%= prop.api_name -%>Prop
    }
<%  end -%>

<%  if object.custom_code.encoder -%>
    obj, err = resource<%= resource_name -%>Encoder(d, meta, obj)
    if err != nil {
        return err
    }
<%  end -%>

<%  if object.mutex -%>
    lockName, err := replaceVars(d, config, "<%= object.mutex -%>")
    if err != nil {
        return err
    }
    mutexKV.Lock(lockName)
    defer mutexKV.Unlock(lockName)
<%  end -%>

    url, err := replaceVars(d, config, "<%= "{{#{object.__product.name}BasePath}}#{object.create_uri}" -%>")
    if err != nil {
        return err
    }

    log.Printf("[DEBUG] Creating new <%= object.name -%>: %#v", obj)
<%  if has_project -%>
    project, err := getProject(d, config)
    if err != nil {
        return err
    }
<%  end -%>
    res, err := sendRequestWithTimeout(config, "<%= object.create_verb.to_s.upcase -%>", <% if has_project %>project<% else %>""<% end %>, url, obj, d.Timeout(schema.TimeoutCreate) <%= object.error_retry_predicates ? ", " + object.error_retry_predicates.join(',') : "" -%>)
    if err != nil {
        return fmt.Errorf("Error creating <%= object.name -%>: %s", err)
    }

    // Store the ID now
    id, err := replaceVars(d, config, "<%= object.id_format -%>")
    if err != nil {
        return fmt.Errorf("Error constructing id: %s", err)
    }
    d.SetId(id)

<%  if !object.async.nil? && object.async.allow?('create') -%>
<% if object.autogen_async -%>
    waitErr := <%= client_name_camel -%>OperationWaitTime(
    config, res,<% if has_project -%> project, <% end -%> "Creating <%= object.name -%>",
        int(d.Timeout(schema.TimeoutCreate).Minutes()))
<% else -%>
    op := &<%= client_name_lower -%>.Operation{}
    err = Convert(res, op)
    if err != nil {
        return err
    }

    waitErr := <%= client_name_camel -%>OperationWaitTime(
    config.client<%= client_name_pascal -%>, op,<% if has_project -%> project, <% end -%> "Creating <%= object.name -%>",
        int(d.Timeout(schema.TimeoutCreate).Minutes()))
<% end -%>

    if waitErr != nil {
        // The resource didn't actually create
        d.SetId("")
        return fmt.Errorf("Error waiting to create <%= object.name -%>: %s", waitErr)
    }
<%  end -%>

    log.Printf("[DEBUG] Finished creating <%= object.name -%> %q: %#v", d.Id(), res)

<%= lines(compile(object.custom_code.post_create)) if object.custom_code.post_create -%>

    return resource<%= resource_name -%>Read(d, meta)
}

func resource<%= resource_name -%>Read(d *schema.ResourceData, meta interface{}) error {
    config := meta.(*Config)

    url, err := replaceVars(d, config, "<%= "{{#{object.__product.name}BasePath}}#{object.self_link_uri}" -%>")
    if err != nil {
        return err
    }

<%  if has_project -%>
    project, err := getProject(d, config)
    if err != nil {
        return err
    }
<%  end -%>
    res, err := sendRequest(config, "<%= object.read_verb.to_s.upcase -%>", <% if has_project %>project<% else %>""<% end %>, url, nil)
    if err != nil {
        return handleNotFoundError(err, d, fmt.Sprintf("<%= resource_name -%> %q", d.Id()))
    }

<%  if object.nested_query -%>
    res, err = flattenNested<%= resource_name -%>(d, meta, res)
    if err != nil {
        return err
    }

    if res == nil {
        // Object isn't there any more - remove it from the state.
        log.Printf("[DEBUG] Removing <%= resource_name -%> because it couldn't be matched.")
        d.SetId("")
        return nil
    }
<%  end -%>

<%- unless object.virtual_fields.empty? -%>
  // Explicitly set virtual fields to default values if unset
<%-   object.virtual_fields.each do |field| -%>
    if _, ok := d.GetOk("<%= field.name -%>"); !ok {
      d.Set("<%= field.name -%>", false)
    }
<%    end -%>
<%  end -%>

<%  if object.custom_code.decoder -%>
    res, err = resource<%= resource_name -%>Decoder(d, meta, res)
    if err != nil {
        return err
    }

    if res == nil {
        // Decoding the object has resulted in it being gone. It may be marked deleted
        log.Printf("[DEBUG] Removing <%= resource_name -%> because it no longer exists.")
        d.SetId("")
        return nil
    }
<%  end -%>

<%  if has_project -%>
    if err := d.Set("project", project); err != nil {
        return fmt.Errorf("Error reading <%= object.name -%>: %s", err)
    }
<%  end -%>

<%  if has_region -%>
    region, err := getRegion(d, config)
    if err != nil {
        return err
    }
    if err := d.Set("region", region); err != nil {
        return fmt.Errorf("Error reading <%= object.name -%>: %s", err)
    }
<%  end -%>

<%  object.gettable_properties.reject{|p| p.ignore_read }.each do |prop| -%>
<%    if prop.flatten_object -%>
// Terraform must set the top level schema field, but since this object contains collapsed properties
// it's difficult to know what the top level should be. Instead we just loop over the map returned from flatten.
    if flattenedProp := flatten<%= resource_name -%><%= titlelize_property(prop) -%>(res["<%= prop.api_name -%>"], d); flattenedProp != nil {
        casted := flattenedProp.([]interface{})[0]
        if casted != nil {
            for k, v := range casted.(map[string]interface{}) {
                d.Set(k, v)
            }
        }
    }
<%    else -%>
    if err := d.Set("<%= prop.name.underscore -%>", flatten<%= resource_name -%><%= titlelize_property(prop) -%>(res["<%= prop.api_name -%>"], d)); err != nil {
        return fmt.Errorf("Error reading <%= object.name -%>: %s", err)
    }
<%    end -%>
<%  end -%>
<%  if object.has_self_link -%>
    if err := d.Set("self_link", ConvertSelfLinkToV1(res["selfLink"].(string))); err != nil {
        return fmt.Errorf("Error reading <%= object.name -%>: %s", err)
    }
<%  end -%>

    return nil
}

<% if updatable?(object, object.root_properties) -%>
func resource<%= resource_name -%>Update(d *schema.ResourceData, meta interface{}) error {
    config := meta.(*Config)

<%  if has_project -%>
    project, err := getProject(d, config)
    if err != nil {
        return err
    }
<%  end -%>

<%  if object.input -%>
    d.Partial(true)

<%  properties_by_custom_update(object.root_properties).each do |key, props| -%>
if <%= props.map { |prop| "d.HasChange(\"#{prop.name.underscore}\")" }.join ' || ' -%> {
        obj := make(map[string]interface{})
<%      custom_update_properties_by_url(properties, key[:update_url]).each do |prop| -%>
        <% schemaPrefix = prop.flatten_object ? "nil" : "d.Get( \"#{prop.name.underscore}\" )" -%>
        <%= prop.api_name -%>Prop, err := expand<%= resource_name -%><%= titlelize_property(prop) -%>(<%= schemaPrefix -%>, d, config)
        if err != nil {
            return err
<%#         There is some nuance in when we choose to send a value to an update function.
            This is unfortunate, but it's because of the way that GCP works, so there's
            no easy way out.  Some APIs require you to send `enable_foo: false`, while
            others will crash if you send `attribute: ''`.  We require this nuance to
            be annotated in api.yaml, since it is not discoverable automatically.

            The behavior here, which we believe to be correct, is to send a value if
            * It is non-empty OR
            * It is marked send_empty_value in api.yaml.
            AND
            * It has been set by the user OR
            * It has been modified by the expander in any way

            This subsumes both `ForceSendFields` and `NullFields` in the go API client -
            `NullFields` is a special case of `send_empty_value` where the empty value
            in question is go's literal nil.
-%>
<%          unless prop.send_empty_value -%>
        } else if v, ok := d.GetOkExists("<%= prop.name.underscore -%>"); !isEmptyValue(reflect.ValueOf(v)) && (ok || !reflect.DeepEqual(v, <%= prop.api_name -%>Prop)) {
<%          else -%>
        } else if v, ok := d.GetOkExists("<%= prop.name.underscore -%>"); ok || !reflect.DeepEqual(v, <%= prop.api_name -%>Prop) {
<%          end -%>
            obj["<%= prop.api_name -%>"] = <%= prop.api_name -%>Prop
        }
<%    end # props.each -%>

<%      if object.mutex -%>
        lockName, err := replaceVars(d, config, "<%= object.mutex -%>")
        if err != nil {
            return err
        }
        mutexKV.Lock(lockName)
        defer mutexKV.Unlock(lockName)
<%      end -%>

        url, err := replaceVars(d, config, "<%= "{{#{object.__product.name}BasePath}}#{update_uri(object, key[:update_url])}" -%>")
        if err != nil {
            return err
        }
<%      if object.async.nil? -%>
        _, err = sendRequestWithTimeout(config, "<%= key[:update_verb] -%>", <% if has_project %>project<% else %>""<% end %>, url, obj, d.Timeout(schema.TimeoutUpdate))
<%      else -%>
        res, err := sendRequestWithTimeout(config, "<%= key[:update_verb] -%>", <% if has_project %>project<% else %>""<% end %>, url, obj, d.Timeout(schema.TimeoutUpdate))
<%      end -%>
        if err != nil {
            return fmt.Errorf("Error updating <%= object.name -%> %q: %s", d.Id(), err)
        }

<%      if !object.async.nil? && object.async.allow?('update') -%>
<% if object.autogen_async -%>

        err = <%= client_name_camel -%>OperationWaitTime(
            config, res, <% if has_project -%> project, <% end -%> "Updating <%= object.name -%>",
            int(d.Timeout(schema.TimeoutUpdate).Minutes()))

<% else -%>
        op := &<%= client_name_lower -%>.Operation{}
        err = Convert(res, op)
        if err != nil {
            return err
        }

        err = <%= client_name_camel -%>OperationWaitTime(
            config.client<%= client_name_pascal -%>, op, <% if has_project -%> project, <% end -%> "Updating <%= object.name -%>",
            int(d.Timeout(schema.TimeoutUpdate).Minutes()))

<% end -%>
        if err != nil {
            return err
        }

<%      end -%>

<%      props.each do |prop|    -%>
        d.SetPartial("<%= prop.name.underscore -%>")
<%      end -%>
    }
<%  end -%>

    d.Partial(false)
<%  else # if object.input -%>
    obj := make(map[string]interface{})
<%  update_body_properties.each do |prop| -%>
    <%# flattened objects won't have something stored in state so instead nil is passed to the next expander. -%>
    <% schemaPrefix = prop.flatten_object ? "nil" : "d.Get( \"#{prop.name.underscore}\" )" -%>
    <%= prop.api_name -%>Prop, err := expand<%= resource_name -%><%= titlelize_property(prop) -%>(<%= schemaPrefix -%>, d, config)
    if err != nil {
        return err
<%      unless prop.send_empty_value -%>
    } else if v, ok := d.GetOkExists("<%= prop.name.underscore -%>"); !isEmptyValue(reflect.ValueOf(v)) && (ok || !reflect.DeepEqual(v, <%= prop.api_name -%>Prop)) {
<%      else -%>
    } else if v, ok := d.GetOkExists("<%= prop.name.underscore -%>"); ok || !reflect.DeepEqual(v, <%= prop.api_name -%>Prop) {
<%      end -%>
        obj["<%= prop.api_name -%>"] = <%= prop.api_name -%>Prop
    }
<%  end -%>

<%# We need to decide what encoder to use here - if there's an update encoder, use that! -%>
<%  if object.custom_code.update_encoder -%>
    obj, err = resource<%= resource_name -%>UpdateEncoder(d, meta, obj)
    if err != nil {
    	return err
    }
<%  elsif object.custom_code.encoder -%>
    obj, err = resource<%= resource_name -%>Encoder(d, meta, obj)
    if err != nil {
    	return err
    }
<%  end -%>

<%  if object.mutex -%>
    lockName, err := replaceVars(d, config, "<%= object.mutex -%>")
    if err != nil {
        return err
    }
    mutexKV.Lock(lockName)
    defer mutexKV.Unlock(lockName)
<%  end -%>

    url, err := replaceVars(d, config, "<%= "{{#{object.__product.name}BasePath}}#{update_uri(object, object.update_url)}" -%>")
    if err != nil {
        return err
    }

    log.Printf("[DEBUG] Updating <%= object.name -%> %q: %#v", d.Id(), obj)
<%= lines(compile('templates/terraform/update_mask.erb')) if object.update_mask -%>
<%= lines(compile(object.custom_code.pre_update)) if object.custom_code.pre_update -%>
<%  if object.async.nil? -%>
    _, err = sendRequestWithTimeout(config, "<%= object.update_verb -%>", <% if has_project %>project<% else %>""<% end %>, url, obj, d.Timeout(schema.TimeoutUpdate))
<%  else -%>
    res, err := sendRequestWithTimeout(config, "<%= object.update_verb -%>", <% if has_project %>project<% else %>""<% end %>, url, obj, d.Timeout(schema.TimeoutUpdate))
<% end -%>

    if err != nil {
    return fmt.Errorf("Error updating <%= object.name -%> %q: %s", d.Id(), err)
    }

<%  if !object.async.nil? && object.async.allow?('update') -%>
<% if object.autogen_async && object.async.allow?('update') -%>

    err = <%= client_name_camel -%>OperationWaitTime(
    config, res, <% if has_project -%> project, <% end -%> "Updating <%= object.name -%>",
    int(d.Timeout(schema.TimeoutUpdate).Minutes()))
<% else -%>
    op := &<%= client_name_lower -%>.Operation{}
    err = Convert(res, op)
    if err != nil {
        return err
    }

    err = <%= client_name_camel -%>OperationWaitTime(
    config.client<%= client_name_pascal -%>, op, <% if has_project -%> project, <% end -%> "Updating <%= object.name -%>",
    int(d.Timeout(schema.TimeoutUpdate).Minutes()))
<% end -%>

    if err != nil {
        return err
    }
<%  end -%>
<%  end # if object.input -%>

<%= lines(compile(object.custom_code.post_update)) if object.custom_code.post_update -%>
    return resource<%= resource_name -%>Read(d, meta)
}
<% end # if updatable? -%>

func resource<%= resource_name -%>Delete(d *schema.ResourceData, meta interface{}) error {
<% if object.custom_code.custom_delete -%>
<%= lines(compile(object.custom_code.custom_delete)) -%>
<% else -%>
    config := meta.(*Config)

<%  if has_project -%>
    project, err := getProject(d, config)
    if err != nil {
        return err
    }
<%  end -%>

<%  if object.mutex -%>
    lockName, err := replaceVars(d, config, "<%= object.mutex -%>")
    if err != nil {
        return err
    }
    mutexKV.Lock(lockName)
    defer mutexKV.Unlock(lockName)
<%  end -%>

    url, err := replaceVars(d, config, "<%= "{{#{object.__product.name}BasePath}}#{object.delete_uri}" -%>")
    if err != nil {
        return err
    }

<%# If the deletion of the object requires sending a request body, the custom code will set 'obj' -%>
    var obj map[string]interface{}
<%= lines(compile(object.custom_code.pre_delete)) if object.custom_code.pre_delete -%>
    log.Printf("[DEBUG] Deleting <%= object.name -%> %q", d.Id())

    res, err := sendRequestWithTimeout(config, "<%= object.delete_verb.to_s.upcase -%>", <% if has_project %>project<% else %>""<% end %>, url, obj, d.Timeout(schema.TimeoutDelete))
    if err != nil {
        return handleNotFoundError(err, d, "<%= object.name -%>")
    }

<%  if !object.async.nil? && object.async.allow?('delete') -%>
<% if object.autogen_async && object.async.allow?('delete') -%>

    err = <%= client_name_camel -%>OperationWaitTime(
        config, res, <% if has_project -%> project, <% end -%> "Deleting <%= object.name -%>",
        int(d.Timeout(schema.TimeoutDelete).Minutes()))
<% else -%>
    op := &<%= client_name_lower -%>.Operation{}
    err = Convert(res, op)
    if err != nil {
        return err
    }

    err = <%= client_name_camel -%>OperationWaitTime(
        config.client<%= client_name_pascal -%>, op, <% if has_project -%> project, <% end -%> "Deleting <%= object.name -%>",
        int(d.Timeout(schema.TimeoutDelete).Minutes()))
<% end -%>

    if err != nil {
        return err
    }
<%  end -%>

    log.Printf("[DEBUG] Finished deleting <%= object.name -%> %q: %#v", d.Id(), res)
    return nil
<% end -%>
}

<% unless object.exclude_import -%>
func resource<%= resource_name -%>Import(d *schema.ResourceData, meta interface{}) ([]*schema.ResourceData, error) {
<% if object.custom_code.custom_import -%>
<%= lines(compile(object.custom_code.custom_import)) -%>
<% else -%>
    config := meta.(*Config)
    if err := parseImportId([]string{
<%   for import_id in import_id_formats(object) -%>
        "<%= format2regex(import_id) %>",
<%   end -%>
    }, d, config); err != nil {
      return nil, err
    }

    // Replace import id for the resource id
    id, err := replaceVars(d, config, "<%= object.id_format -%>")
    if err != nil {
        return nil, fmt.Errorf("Error constructing id: %s", err)
    }
    d.SetId(id)

<%-  unless object.virtual_fields.empty? -%>
    // Explicitly set virtual fields to default values on import
  <%-  object.virtual_fields.each do |field| -%>
    d.Set("<%= field.name %>", false)
  <%   end -%>
<%   end -%>
<%= lines(compile(object.custom_code.post_import)) if object.custom_code.post_import -%>

    return []*schema.ResourceData{d}, nil
<% end -%>
}
<% end -%>

<% object.gettable_properties.reject(&:ignore_read).each do |prop| -%>
<%= lines(build_flatten_method(resource_name, prop, object), 1) -%>
<% end -%>

<% object.settable_properties.each do |prop| -%>
<%= lines(build_expand_method(resource_name, prop), 1) -%>
<% end -%>

<% if object.custom_code.encoder -%>
func resource<%= resource_name -%>Encoder(d *schema.ResourceData, meta interface{}, obj map[string]interface{}) (map[string]interface{}, error) {
<%= lines(compile(object.custom_code.encoder)) -%>
}
<% end -%>

<% if object.custom_code.update_encoder-%>
func resource<%= resource_name -%>UpdateEncoder(d *schema.ResourceData, meta interface{}, obj map[string]interface{}) (map[string]interface{}, error) {
<%= lines(compile(object.custom_code.update_encoder)) -%>
}
<% end -%>

<%  if object.nested_query -%>
<%# Note that if both nested_query and custom_code.decoder are provided,
  #the decoder will be included via nested_query.go.erb -%>
func flattenNested<%= resource_name -%>(d *schema.ResourceData, meta interface{}, res map[string]interface{}) (map[string]interface{}, error) {
    <%=     compile_template('templates/terraform/nested_query.go.erb',
                         object: object,
                         settable_properties: object.settable_properties,
                         resource_name: resource_name) -%>
}
<% end -%>

<% if object.custom_code.decoder -%>
func resource<%= resource_name -%>Decoder(d *schema.ResourceData, meta interface{}, res map[string]interface{}) (map[string]interface{}, error) {
<%= lines(compile(object.custom_code.decoder)) -%>
}
<% end -%>

<%
    if object.schema_version
          if @config.legacy_name.nil?
            terraform_name = (product_ns + object.name).underscore
          else
            terraform_name = @config.legacy_name + '_' + object.name.underscore
          end
-%>
<%= lines(compile("templates/terraform/state_migrations/#{terraform_name}.go.erb")) -%>
<%  end -%>
